<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jdgjapp">

    <!-- Required -->
    <permission
        android:name="com.example.jdgjapp.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 图片选择器权限 -->


    <!-- 从sdcard中读取数据的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 绑定手机权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 百度地图权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.example.jdgjapp.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="Mob-AppKey"
            android:value="2165712e664fe" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="6d5f2ffe527c08738bd583749852ee6c" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="zkLYaSLrKGRLbc9Vzdkroh9yjjjRoudh" />

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyInfoActivity" />
        <activity android:name=".work.bangong.baoxiao.BaoXiaoMain" />
        <activity android:name=".work.bangong.cailiao.CaiLiaoMain" />
        <activity android:name=".work.bangong.cheliang.CheLiangMain" />
        <activity android:name=".work.bangong.gongdan.GongDanMain" />
        <activity android:name=".work.bangong.shenpi.ShenPiMain" />
        <activity android:name=".work.bangong.shipin.ShiPinMain" />
        <activity android:name=".work.kaoqin.chuchai.ChuChaiMain" />
        <activity android:name=".work.kaoqin.daka.DaKaMain" />
        <activity android:name=".work.kaoqin.qiandao.QianDaoMain" />
        <activity android:name=".work.kaoqin.qingjia.QingJiaMain" />
        <activity android:name=".work.kaoqin.tongji.TongJiMain" />
        <activity android:name=".SetNameActivity" />
        <activity android:name=".SetSexActivity" />
        <activity android:name=".SetBirthActivity" />
        <activity android:name=".SetAddressActivity" />
        <activity android:name=".SetPhoneActivity" />
        <activity android:name=".SetPasswordActivity" />
        <activity android:name=".Friends.MyDeptMent" />
        <activity android:name=".Friends.DeptMember" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle" />
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.jdgjapp" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.example.jdgjapp.DataProvider"
            android:exported="false" />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.examplt.jdgjapp" />
            </intent-filter>
        </service>
        <!-- since 3.1.0 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.example.jdgjapp.DownloadProvider"
            android:exported="true" />
        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.example.jdgjapp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="7729715f3a9e7b0a84461ea9" />

        <receiver
            android:name=".MyJPushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.example.jdgjapp" />
            </intent-filter>
        </receiver>

        <activity android:name=".work.bangong.shipin.StartShiPin" />
        <activity
            android:name=".work.bangong.shipin.agora.openvcall.ui.ShiPinActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".work.bangong.shipin.agora.openvcall.ui.ChatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".work.bangong.shipin.agora.openvcall.ui.ShiPinActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".work.bangong.shipin.agora.openvcall.ui.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/label_settings" />
        <activity android:name=".work.bangong.shipin.ShiPin" />

        <service
            android:name=".work.kaoqin.daka.DingWeiService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".work.bangong.gongdan.DoneTaskInfoActivity" />
        <activity android:name=".work.bangong.gongdan.NotReceivedTaskInfoActivity" />
        <activity android:name=".work.bangong.gongdan.NotStartTaskInfoActivity" />
        <activity android:name=".work.bangong.gongdan.OnGoingTaskInfoActivity" />
        <activity android:name=".work.bangong.gongdan.PastTaskReportActivity" />
        <activity android:name=".work.bangong.gongdan.PastTaskReportInfoActivity" />
        <activity android:name=".work.bangong.gongdan.TaskReportActivity" />
        <activity android:name=".work.bangong.cailiao.MyDeptOfCaiLiao" />
        <activity android:name=".work.bangong.cailiao.SeePersonCailiao" />
        <activity android:name=".work.bangong.gongdan.TransmitList" />
        <activity android:name=".work.bangong.cailiao.PersonDetailCaiLiao" />
        <activity android:name=".SetIconActivity" />
        <activity android:name=".work.bangong.gongdan.TaskMaterialActivity" />
        <activity android:name=".work.bangong.cailiao.CaiLiaoApply" />
        <activity android:name=".work.bangong.cailiao.CaiLiaoWholeOfDept" />
        <activity android:name=".work.bangong.cailiao.DeptDetailCL" />
        <activity
            android:name=".work.bangong.cailiao.ApplyCL"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".work.bangong.cailiao.ApplyIng" />
        <activity android:name=".work.bangong.cailiao.ApplyPass" />
        <activity android:name=".work.bangong.cailiao.ApplyRefuse" />
        <activity android:name=".work.bangong.cailiao.ListOfOneResponse" />
        <activity android:name=".work.bangong.cailiao.DatailOfApply" />
        <activity
            android:name=".work.kaoqin.qingjia.QJApply"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".work.kaoqin.qingjia.QJApplying" />
        <activity android:name=".work.kaoqin.qingjia.QJApplyok" />
        <activity android:name=".work.kaoqin.qingjia.QJApplyrefuse" />
        <activity android:name=".work.kaoqin.qingjia.QJApplyDetail" />
        <activity android:name=".work.kaoqin.chuchai.CCApply" />
        <activity android:name=".work.kaoqin.chuchai.CCApplying" />
        <activity android:name=".work.kaoqin.chuchai.CCApplyok" />
        <activity android:name=".work.kaoqin.chuchai.CCApplyrefuse" />
        <activity android:name=".work.kaoqin.chuchai.CCApplyDetail" />
        <activity android:name=".work.bangong.cheliang.MydeptOfCar" />
        <activity android:name=".work.bangong.cheliang.CarWholeOfDept" />
        <activity android:name=".work.bangong.cheliang.DetailofCar" />
        <activity android:name=".work.bangong.cheliang.CarRepair" />
        <activity android:name=".work.bangong.cheliang.DetailOfCarRepair" />
        <activity android:name=".work.bangong.cheliang.CarOfDepter"></activity>
    </application>

</manifest>